---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Jhames Andrew Macabata
  </div>
  <div class="inline opacity-75">
    Built with
    <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a>
    ·
    <a href="https://tailwindcss.com/" target="_blank" class="font-bold">Tailwind</a>
  </div>
</footer>
<style></style>
